body{
 margin: 0px;
  background: linear-gradient(100deg, #ff7e5f, #feb47b, #86fde8);   
}
h1{
    text-align: center;
    margin-top: 50px;
}
.juncaobotao{
    display: flex;
    gap: 30px;
    padding: 55px 0px 0px 25%;
    
}
.botao-geral{
     padding: 16px;
    border-radius: 999px;
    background: linear-gradient(100deg, #ff7e5f, #feb47b, #86fde8);  
    color: white;
}

.botao-geral:hover {
      background: linear-gradient(135deg, #ff6a00, #ee0979);
      transform: scale(1.05);}
